$color-50: rgba(248, 250, 252, 1);
$color-100: rgba(241, 245, 249, 1);
$color-200: rgba(226, 232, 240, 1);
$color-300: rgba(203, 213, 225, 1);
$color-400: rgba(148, 163, 184, 1);
$color-500: rgba(100, 116, 139, 1);
$color-600: rgba(71, 85, 105, 1);
$color-700: rgba(51, 65, 85, 1);
$color-800: rgba(30, 41, 59, 1);
$color-900: rgba(15, 23, 42, 1);